body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Concert One', cursive; */
}

.sub-title {
  font-family: 'Concert One', cursive;
  font-size: 2em;
  /* background-color: rgb(73, 85, 126); */
  /* color: ; */
  padding: 5px;
}

#skill .fab:hover {
  /* background-color: #2B2F49; */
  /* font-size: */
  color: #FA3352;
  font-size: 150px;
}
#skill .fab p:hover {
  font-size: 40px;
  text-decoration-line: underline;
}

header {
  height: 100vh;
  background: url('../assets/images/home.jpg');
  background-position: center;
  background-size: cover;
}

nav {
  position: fixed !important;
  width: 100vw;
  z-index: 1000;
}

footer {
  background-color: black;
  padding: 2vh 0;
  color: white;
}

.navbar-nav a {
  /* color: black!important;
  font-weight: 700!important;
  background-color: #fff;
  margin-left: 2vh;
  border-radius: 5vh;
  border-bottom: 4px solid; */
  /* border: 1px solid red; */
}

.navbar-nav a:hover {
  /* border-bottom: 4px solid; */
  /* background-color: #c2c2c2; */
  /* border: 1px solid #000; */
}

header>div {
  /* padding-top: 40vh; */
  /* border: 10px solid red!important; */
  height: 80vh;
  /* width: 25%; */
  padding: 10px;
  /* line-height: 1.5px; */
  font-size: 20px;
  /* border-bottom: 5px solid #000!important;
  border-right: 5px solid #000!important; */
  border-bottom-right-radius: 5vh;
}

#about-me,
#projects,
#contact-me {
  /* padding-top: 100vh; */
  /* height: 80vh; */
}

@media screen and (min-width:760px) {
  .navbar-nav a {
    color: black !important;
    font-weight: 700 !important;
    /* background-color: #fff; */
    margin-left: 2vh;
    /* border-radius: 5vh!important; */
    /* border-bottom: 4px solid; */
  }
  #about-me,
  #projects,
  #contact-me {
    /* height: 50vh; */
    /* padding-top: 10vh;
    padding-bottom: 10vh;  */
    /* border:1px solid red; */
    

  }
  #about-me .row div {
    /* border:1px solid red; */
    /* padding-top: 10vh;
    padding-bottom: 10vh; */
    /* padding-top: 10vh;
    height: 80vh; */
    
  }
  #about-me .row div p {
    /* line-height: 1px; */
    font-size: 18px;
  }
  .navbar-nav a:hover {
    /* border-bottom: 4px solid; */
    /* background-color: #c2c2c2; */
    border-bottom: 4px solid #000;
    ;
  }
}