body {
  font-family: 'Roboto', sans-serif;
}

header {
  background: url('../assets/images/home.jpg');
  background-size: cover;
  height: 100vh;
}

header>div {
  border-bottom-right-radius: 5vh;
  font-size: 20px;
  height: 80vh;
  padding: 10px;
}

nav {
  background: #050505;
  background: -webkit-linear-gradient(to right, #050505, #DDDBCB);
  background: linear-gradient(to right, #050505, #DDDBCB);
  box-shadow: 1px 3px 3px #DDDBCB;
  color: #FFFFFF !important;
  opacity: 0.9;
  position: fixed !important;
  width: 100vw;
  z-index: 1000;
}

footer {
  background-color: black;
  padding: 2vh 0;
  color: white;
}

.bg-black {
  background-color: #050505 !important;
}

.title {
  color: rgb(0, 0, 0);
  font-family: 'Changa', sans-serif;
  letter-spacing: 0.1em;
  padding-left: 5vh;
}

.text-logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

.sub-title {
  font-family: 'Concert One', cursive;
  font-size: 2em;
  padding: 5px;
}

#skill .fab:hover {
  color: #1B9AAA;
  font-size: 150px;
}

#skill .fab p:hover {
  font-size: 40px;
  text-decoration-line: underline;
}

@media screen and (min-width:760px) {
  .title {
    width: 50%;
  }
  .navbar-nav a:hover {
    border-bottom: 4px solid #1B9AAA;
    font-size: 18px;
  }
  #about-me,
  #projects,
  #skill,
  #contact-me {
    height: 80vh;
    margin-top: 5vh;
  }
  #skill .row>div {
    margin-top: 2vh;
  }
  #about-me .row div p {
    font-size: 18px;
  }
}